body{
    background-color: white;
}

p{
    color: white;
    text-shadow: 0px 0px 10px black;
}
h1{
    size: 10px 10px;
}

pre{
    margin: 0px;
}

#Chessboard{
    /* background: linear-gradient(to bottom right, red, orange, yellow, lightgreen, blue, darkblue, purple); */
    box-shadow: 0px 0px 10px white;
    margin: auto;
    max-width: max-content;
    border: 2px solid black;
}

.cell{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.boardLine{
    display: flex;
    height: 50px;
}